.statusDistribution {
  background-color: white;
  margin-bottom: 50px;
}

.statusGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  padding: 20px 10px;
  justify-content: center;
}

.statusCard {
  padding: 6px 15px;
  color: white;
  border-radius: 4px;
  margin-bottom: 8px;
  display: inline-block;
}

.statusUsers {
  display: block;
  color: white;
}

@media (max-width: 992px) {
  .statusGrid {
    font-size: 0.8rem;
  }
  .statusCard {
    padding: 3px 7.5px;
  }
}

@media (max-width: 500px) {
  .statusGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
