.anime {
  display: flex;
  background-color: white;
  height: 265px;
  border-radius: 5px;
}

.coverContainer {
  position: relative;
  min-width: 185px;
}

.imgBorder {
  border-radius: 5px 0 0 5px;
}

.coverInfo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  background-color: rgba(31, 38, 49, 0.8);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0 0 0 5px;
}

.coverTitle {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.coverStudio {
  color: #f09275;
  font-size: 12px;
}

.infoFlex {
  display: flex;
  flex-direction: column;
}

.animeInfo {
  background-color: #fbfbfb;
  border-radius: 0 0 5px 0;
  padding: 10px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.animeInfo:hover {
  overflow-y: auto;
}

.animeInfo > * {
  margin-bottom: 5px;
}

.season {
  color: #647380;
  font-size: 15px;
}

.formatInfo {
  display: flex;
  font-size: 11px;
  color: #748899;
}

.formatInfo > * {
  margin-right: 3px;
}

.description {
  margin-top: 15px;
  color: #748899;
  font-size: 11px;
  margin-bottom: auto;
}

.genres {
  background-color: rgba(100, 115, 128, 0.3);
  border-radius: 0 0 5px 0;
  margin-top: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.genre {
  border-radius: 20px;
  color: white;
  background-color: #2b2d42;
  font-size: 0.7rem;
  margin-right: 3px;
  padding: 2px 12px 0px 12px;
  margin: 2px;
}

@media (max-width: 475px) {
  .coverContainer {
    min-width: 120px;
  }
}
