.relationBox {
  background-color: white;
  display: grid;
  grid-template-columns: 85px 1fr;
}

.infoContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
  color: #5c728a;
  flex: 1;
}

.type {
  font-size: 12px;
  color: #3db4f2;
}

.info {
  font-size: 12px;
  color: #9299a1;
}

.charactersBox {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.name {
  font-size: 12px;
  color: #5c728a;
  flex: 1;
}

.vaName {
  font-size: 12px;
  color: #5c728a;
  flex: 1;
  text-align: right;
}

.role {
  font-size: 11px;
  color: #9299a1;
}

.charGrid {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.vaGrid {
  display: grid;
  grid-template-columns: 1fr 60px;
}

.staffContainer {
  background-color: white;
  display: grid;
  grid-template-columns: 52px 1fr;
}

.statusDistribution {
  background-color: white;
  margin-bottom: 50px;
}

.statusGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  padding: 20px 10px;
  justify-content: center;
}

.statusCard {
  padding: 6px 15px;
  color: white;
  border-radius: 4px;
  margin-bottom: 8px;
  display: inline-block;
}

.statusUsers {
  display: block;
  color: white;
}

.flex {
  display: flex;
}

.watchGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 20px;
  margin-bottom: 50px;
}

.watchAnchor {
  position: relative;
  height: 100px;
}

.watchTitle {
  background-color: rgba(36, 56, 56, 0.8);
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 11px;
  color: white;
  width: 100%;
  padding: 5px 10px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0 0 5px 5px;
}

.watchImg {
  border-radius: 5px;
}

.recImg {
  position: relative;
  height: 180px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.recTitle {
  color: #5c728a;
  font-size: 13px;
  font-weight: 900;
}

@media (max-width: 992px) {
  .statusGrid {
    font-size: 0.8rem;
  }
  .statusCard {
    padding: 3px 7.5px;
  }
}

@media (max-width: 500px) {
  .statusGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .watchGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 350px) {
  .name {
    font-size: 10px;
  }

  .vaName {
    font-size: 10px;
  }

  .role {
    font-size: 9px;
    color: #9299a1;
  }

  .charGrid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .vaGrid {
    display: grid;
    grid-template-columns: 1fr 50px;
  }

  .watchGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
