@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  option,
  optgroup {
    @apply bg-slate-900 text-slate-200;
  }
}

@layer utilities {
  .text-purple {
    @apply text-purple-600 duration-300 dark:text-purple-300;
  }

  .text-blue {
    @apply text-blue-600 duration-300 dark:text-blue-300;
  }

  .text-slate {
    @apply text-slate-900 duration-300 dark:text-slate-100;
  }

  .border-purple {
    @apply border-purple-600 duration-300 dark:border-purple-300;
  }

  .bg-card {
    @apply bg-slate-100 duration-300 dark:bg-slate-900;
  }

  .bg-purple-hover {
    @apply hover:bg-purple-600/30 dark:hover:bg-purple-300/30;
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

@media (min-width: 640px) {
  .image-offset {
    transform: translateY(-25%);
  }
}

.area-anime-id {
  grid-template-areas:
    "data rankings"
    "data tags"
    "data streamlinks";
}

@media (min-width: 640px) {
  .area-anime-id {
    grid-template-areas:
      "rankings"
      "data"
      "tags"
      "streamlinks";
  }
}

.area-data {
  grid-area: data;
}

.area-rankings {
  grid-area: rankings;
}

.area-tags {
  grid-area: tags;
}

.area-streamlinks {
  grid-area: streamlinks;
}
