.container {
  background-color: #e0e0e0;
  padding: 0 30px;
}

.title {
  color: #647380;
}

.animeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: stretch;
}

@media (max-width: 860px) {
  .animeContainer {
    grid-template-columns: 1fr;
  }
}
