.mainLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: #2b2d42;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
}

.opaque {
  background-color: rgba(43, 45, 66, 0.8);
}

.aLogo,
.lLogo {
  font-size: 3rem;
  font-weight: 900;
}

.aLogo {
  color: white;
  position: relative;
  z-index: 1;
}

.lLogo {
  color: #02a9ff;
  position: relative;
  right: 12px;
}

.extLink {
  display: flex;
  align-items: center;
}

.link {
  color: #bcbedc;
  margin: 0 5px;
  font-size: 0.9rem;
}

.signup {
  background-color: #02a9ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 900;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #11161d;
  color: #bcbedc;
  padding: 50px 0;
  margin-top: auto;
}

.disclaimer {
  max-width: 300px;
  margin-left: 5px;
}

.discHeader {
  color: #02a9ff;
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footerUl {
  margin: 0 40px;
  line-height: 2.5rem;
}

@media (max-width: 1020px) {
  .footerLinks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .footerUl {
    margin: 0 20px;
    line-height: 1.5rem;
  }
}

@media (max-width: 500px) {
  .footerUl {
    margin: 0 10px;
  }

  .footerLinks {
    font-size: 0.8rem;
  }

  .disclaimer {
    font-size: 0.8rem;
  }
}
