.link {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  padding: 7px;
  color: white;
  border-radius: 3px;
  font-weight: 900;
}

.purple {
  background-color: #c063ff;
}
.orange {
  background-color: #f79a63;
}
.green {
  background-color: #7bd555;
}
.red {
  background-color: #e85d75;
}
.blue {
  background-color: #3db4f2;
}
